// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: #FAFDFB;
}
.header{
    height: 15%;
    width: 100%;
    background-color: #DAE4C0 ;
}
.button{
    float: left;
    border: none;
    width: 10%;
}